<h1>hello world</h1>
<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button type="button" (click)="share()">
    Share
  </button>

</div>
<p *ngIf="product && product.price > 700">
    <button type="button">Notify Me</button>
  </p>
  <app-product-alerts
  [product]="product">
</app-product-alerts>

<p *ngIf="product && product.price > 700">
    <button type="button" (click)="notify.emit()">Notify Me</button>
  </p>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
</app-product-alerts>

[routerLink]="['/products', product.id]">
<div *ngIf="product">
  

